body {
    margin: 0;
    padding: 0;
    background-color: #121212; /* Dark background */
    color: #fff; /* Ensure text is visible on dark background */
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1c1c1c; /* Darker header */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: #181818; /* Dark main area */
}